<script>

  // jQuery load
  $(function() {
  
    $('body').gesture(onGesture);
    
    function onGesture(result) {
      console.log(result.Name, result.Score);
    }
  
  });

</script>

<div id="stroke-images">
  <img src="images/arrow.png" alt="">
  <img src="images/caret.png" alt="">
  <img src="images/check.png" alt="">
  <img src="images/circle.png" alt=""><br/>

  <img src="images/delete.png" alt="">
  <img src="images/leftbracket.png" alt="">
  <img src="images/rightbracket.png" alt="">
  <img src="images/leftcurlybrace.png" alt=""><br/>

  <img src="images/rightcurlybrace.png" alt="">
  <img src="images/pigtail.png" alt="">
  <img src="images/rectangle.png" alt="">
  <img src="images/star.png" alt=""><br/>

  <img src="images/triangle.png" alt="">
  <img src="images/v.png" alt="">
  <img src="images/x.png" alt="">
  <img src="images/zigzag.png" alt="">
</div>

<div>
  
</div>